.list-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
  background-color: #29b6f6;
}

.list-item {
  padding: 10px;
}

.link-item {
  text-decoration: none;
  color: white;
}
