.error-div {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  background-color: red;
  border-style: groove;
  border-color: black;
  border-radius: 25px;
}

.error-span {
  font-size: small;
}

.hiding {
  display: none;
  visibility: hidden;
}
